.mynav{
  background: black;
  height: 100px;
  font-size: 50px;
}

.navbar-brand {
  padding-top: 30px;
}

.glyphicon {
    font-size: 15px;
}

.btn {
    font-size: 20px;
    padding: 3px 3px;
}

ul {
    list-style-type: none;
}

.element {
    margin-bottom: 20px;
}