{% extends "base.html" %}

{% block content %}
<h2>Blogs List</h2>
<ul>
    {% for blog in blog_list %}
        <div class="container element">
            <li>
                <div class="container">
                    <a href="{% url 'detail-blog' pk=blog.pk %}">{{ blog.content }}</a>
                    <button type="button" class="btn btn-default upvote" onclick={{ blog.post_upvote }}>
                      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default downvote" onclick={{ blog.post_downvote }}>
                      <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="container">
                    {{ blog.get_time_difference }}
                </div>
            </li>
        </div>
    {% endfor %}
</ul>
{% endblock %}