{% extends "base.html" %}

{% block content %}
    {% if context.create %}
        <h1>Create Blog</h1>
    {% else %}
        <h1>Update Blog</h1>
    {% endif %}

    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="container">
                {% if context.create %}
                    <textarea class="form-control" rows="10" cols="80" name="content"></textarea>
                {% else %}
                    <textarea class="form-control" rows="10" cols="80" name="content">{{ context.content }}</textarea>
                {% endif %}
            </div>
            <div class="container">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}
