{% extends "base.html" %}

{% block content %}
<h2>Popular Blogs</h2>
<ul>
    {% for pk, details in context.items %}
        <div class="container element">
            <li>
                <div class="container">
                    <a class="blog-content" href="{% url 'detail-blog' pk=pk %}">{{ details.content }}</a>
                </div>
                <div class="container">
                    <button type="button" class="btn btn-default upvote" data-blog-id="{{ pk }}">
                      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>{{ details.upvote_count }}
                    </button>
                    <button type="button" class="btn btn-default downvote" data-blog-id="{{ pk }}">
                      <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>{{ details.downvote_count }}
                    </button>
                    {{ details.published_time_diff }}
                </div>
            </li>
        </div>
    {% endfor %}
</ul>
{% endblock %}